#cardall{
  width: 300px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: rgb(125, 233, 197);
}
/* Add these CSS classes to your App.css */
.completed-todo {
  background-color: green;
}

.not-completed-todo {
  background-color: red;
}
